@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-main-color: #ffffff;
    --bg-panels-main-color: #e5e5e5;
    --bg-footer-color: #363636;
    --bg-header-selection-color: rgba(0,0,0,0.10);
    --bg-footer-selection-color: rgba(255,255,255,0.25);
    --accent-ultralight-color: #fafedd;
    --accent-light-color: #f7e296;
    --accent-transition-color: #f3d054;
    --accent-strong-color: #f0c52e;

    --content-main-color: #000000;
    --content-inactive-color: #4c4c4c;

    --content-font-family: 'Open Sans';
    --heading-font-family: 'Gilroy';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;

    font-family: var(--content-font-family), 'Lucida Sans Unicode', Arial, sand-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;

    background-color: var(--bg-main-color);
}

a {
    color: var(--content-main-color);
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.transparent-on-hover {
    opacity: 1;
    transition: opacity 0.25s ease-out; 
}

.transparent-on-hover:hover {
    opacity: 0.6;
    outline: none;
    transition: opacity 0.1s ease-out;
}

.transparent-on-hover:focus {
    outline: none;
}

.transparent-on-hover:active {
    opacity: 0.3;
    transition: opacity 0.02s ease-out;
}

.expanding-button {
    display: block;

    position: relative;
    z-index: 1;

    width: 260px;
    min-height: 40px;
    border: none;
    padding: 9px 5px 9px 10px;


    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    text-align: center;
}

.expanding-button::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;

    height: calc(100% - 32px);
    width: 100%;

    background-color: var(--accent-strong-color);
    transition: all 0.13s ease-out;
}

.expanding-button:hover::before,
.expanding-button:focus::before {
    top: 0px;
    height: 100%;
}

.expanding-button:focus {
    outline: none;
}

/*                                */
/*                                */
/*             Хэдер              */
/*                                */
/*                                */


/*                                */
/*      Верхняя часть хэдера      */
/*                                */

.main-header {
    display: flex;
    flex-direction: column;

    position: relative;

    min-height: 186px;
    padding-left: 40px;
    padding-right: 48px;
    padding-top: 28px;

    background-color: var(--accent-light-color);
}

.main-header a,
.main-footer a  {
    transition: background-color 0.1s ease-out;
}

.main-header .focused-by-keyboard {
    background-color: var(--bg-header-selection-color);
}

.header-logo, 
.footer-logo {
    display: block;

    width: 163px;
    heigth: 35px;

    cursor: pointer;
}

.header-logo {
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-logo:focus {
    outline: 2px solid var(--content-main-color);
    outline-offset: 10px;
} 

.header-user-menu, 
.main-nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    min-height: 50px;

    list-style: none;
}

.main-nav > ul {
    flex-wrap: wrap-reverse;
}

.header-user-menu {
    flex-wrap: wrap;
    margin-right: 3px;
    margin-bottom: 22px;
}

.header-usermenu-item {
    display: block;

    padding: 5px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 40px;
} 

.header-basket-item {
    padding-left: 33px;
    margin-left: 22px;

    background: url(../img/icon-basket.svg) no-repeat 11px 14px;
}

.header-compare-item {
    padding-left: 32px;
    margin-left: 198px;

    background: url(../img/icon-compare.svg) no-repeat 6px 13px;
}

.header-login-item {
    padding-left: 31px;
    margin-left: 93px;

    background: url(../img/icon-user.svg) no-repeat 7px 13px;
}

.header-search-form {
    display: flex;
    align-items: flex-end;

    position: relative;

    background: url('../img/search.svg') no-repeat 1px 18px;
}

.header-search-input {
    width: 328px;
    padding: 10px;
    padding-bottom: 12px;
    padding-right: 30px;
    border: none;
    margin-left: 28px;

    background-color: inherit;
    font: inherit;
    opacity: 0.3;
}

.header-search-input:hover {
    opacity: 0.6;
}

.header-search-input:focus {
    opacity: 1;
    outline: none;
}

.header-search-submit {
    visibility: hidden;
    position: relative;

    height: 50px;
    width: 84px;

    border: none;

    background-color: inherit;

    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.header-search-form:focus-within .header-search-submit {
    visibility: visible;
}

.header-search-submit:hover,
.header-search-submit:focus {
    background-color: var(--content-main-color);
    color: var(--bg-main-color);
    outline: none;
}

.header-search-submit:active {
    color: var(--content-inactive-color);
}

/* Следующий блок относится к анимации фокуса на поле поиска */
/* Это разумнее было бы оформить с помощью svg, */
/* Но на момент работы над этим проектом я ещё не умел его анимировать =) */


/*                                */
/*      Анимация поля поиска      */
/*                                */


.header-search-form::before,
.header-search-form::after,
.header-search-form .header-search-submit::before,
.header-search-form .header-search-submit::after {
    content: "";
    position: absolute;

    background-color: var(--content-main-color);
}

.header-search-form::before {
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
}

.header-search-form:focus-within::before {
    width: 100%;
    transition: 0.15s;
}

.header-search-form::after {
    bottom: 0;
    right: 0;

    height: 0;
    width: 2px;
}

.header-search-form:focus-within::after {
    height: 100%;

    transition: 0.07s;
    transition-delay: 0.20s;
}

.header-search-form .header-search-submit::before {
    top: 0;
    right: 0;

    width: 0;
    height: 2px;
}

.header-search-form:focus-within .header-search-submit::before {
    width: 100%;

    transition: 0.07s;
    transition-delay: 0.27s;
}

.header-search-form .header-search-submit::after {
    top: 0;
    left: 0;

    width: 2px;
    height: 0;
}

.header-search-form:focus-within .header-search-submit::after {
    height: 100%;

    transition: 0.07s;
    transition-delay: 0.34s;
}

.header-search-form .flickering-animation {
    visibility: hidden;

}

.header-search-form:focus-within .flickering-animation {
    visibility: visible;

    animation: flicker 2s;
    animation-delay: 0.24s;

    transition-property: visibility;
    transition-delay: 0.24s;
}

/*                                */
/*      Нижняя часть хедера       */
/*                                */

.main-nav {
    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main-nav-item {
    display: block;

    padding: 7px 9px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 17px;
}

.main-nav-contacts {
    margin-left: 89px;
}

.main-nav-delivery {
    margin-left: 296px;
}

.main-nav-catalog {
    position: relative;

    padding-right: 43px;
    padding-bottom: 30px;
    margin-left: 0;
    margin-bottom: 0;

    letter-spacing: 0.1em;
}

.main-nav-catalog:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    height: 25px;
    width: 100%;
    background-color: var(--accent-light-color);
}

.main-nav-catalog:active {
    opacity: 0.3;
}

.main-nav-catalog::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 9px; 

    height: 16px;
    width: 16px;

    background: url(../img/plus.svg) no-repeat 0 0;
    opacity: 0.3;
}

.main-nav-catalog:hover::after {
    opacity: 0.5;
}

.main-nav-catalog:active::after {
    opacity: 1;
}

.catalog-dropdown-container {
    display: flex;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;

    width: 100%;
    padding-right: 60px;

    background-color: var(--accent-light-color);

    transform: translateY(-28px);
}

.catalog-dropdown-menu {
    display: grid;

    grid-template-rows: repeat(3, min-content);
    justify-content: start;
    grid-auto-flow: column;
    column-gap: 45px;

    height: 0;

    min-width: 535px;
    padding-bottom: 0px;
    padding-left: 51px;

    font-family: var(--content-font-family), 'Lucida Sans Unicode', Arial, sand-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;

    list-style: none;
    overflow: hidden;

    transition-property: height, padding-bottom;
    transition-duration: 0.33s;
    transition-timing-function: ease-out;
}

.main-nav-catalog:hover + .catalog-dropdown-container > .catalog-dropdown-menu,
.main-nav-catalog:focus + .catalog-dropdown-container > .catalog-dropdown-menu,
.catalog-dropdown-menu:hover,
.catalog-dropdown-menu:focus-within {
    height: 142px;
    padding-bottom: 38px;

    transition-property: height, padding-bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.catalog-dropdown-menu li {
    max-width: 220px;
}

.catalog-dropdown-menu a {
    display: block;
    padding: 8px 9px;
}

.catalog-drop-copter {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


/*                                */
/*                                */
/*              Футер             */
/*                                */
/*                                */

/*      Верхняя часть футера      */

.main-footer {
    padding-top: 36px;

    color: var(--bg-main-color);
    background-color: var(--bg-footer-color);

    font-size: 15px;
    line-height: 20px;
}

.main-footer .container {
    display: flex;
    flex-direction: column;
}

.main-footer a {
    display: block;
    color: var(--bg-main-color);
    outline: none;
}

.main-footer .focused-by-keyboard {
    outline: none;

    background-color: var(--bg-footer-selection-color);
}

.main-footer div {
    display: flex;
    justify-content: space-between;
}

.footer-top {
    position: relative;
    left: 14px;

    min-height: 74px;

    align-items: center;
}

.footer-logo {
    position: relative;
    left: -14px;
    top: 11px;
}

.footer-logo:focus {
    outline: 2px solid var(--accent-strong-color);
    outline-offset: 10px;
}

.footer-logo svg {
    fill: var(--accent-strong-color);
}

.footer-usermenu {
    align-self: flex-start;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    max-width: 850px;

    list-style: none;
}

.footer-usermenu li {
    position: relative;

    margin-right: 15px;
}

.footer-usermenu li:nth-child(6n),
.footer-usermenu li:last-child {
    margin-right: 0px;
}

.footer-usermenu a {
    display: block;

    width: 100%;
    max-width: 140px;
    height: 100%;
    padding: 10px 15px 10px 35px;

    opacity: 0.5;
    transition: all 0.1s ease-out;
}

.footer-user-item:hover > a,
.footer-user-item:focus-within > a {
    opacity: 1;

    transition: opacity 0.02s ease-out;
}

.footer-user-item:active a {
    opacity: 0.3;
    transition: opacity 0.02s ease-out
}

.footer-user-item::before {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;

    opacity: 1;
    transition: opacity 0.1s ease-out;
}

.footer-user-item:hover::before {
    opacity: 0.6;
    transition: opacity 0.02s ease-out
}

.footer-user-item:active::before {
    opacity: 0.3;
    transition: opacity 0.02s ease-out
}

.footer-login-item::before {
    top: 16px;
    left: 13px;

    background: url(../img/icon-user-accented.svg) no-repeat 0 0;
}

.footer-compare-item::before {
    top: 15px;
    left: 11px;

    background: url(../img/icon-compare-accented.svg) no-repeat 0 0;
}

.footer-basket-item::before {
    top: 15px;
    left: 13px;

    background: url(../img/icon-basket-accented.svg) no-repeat 0 0;
}

/*      Средняя часть футера       */

.footer-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 78px;
    padding-top: 18px;
    padding-bottom: 46px;
}

.footer-mid address {
    font-style: normal;
}

.footer-mid-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;
    left: -9px;

    width: 458px;

    list-style: none;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-nav-item {
    padding: 10px 12px 10px 14px;
}

.footer-phone {
    position: relative;
    left: 15px;
}

.footer-phone span {
    position: absolute;
    top: 10px;
    left: 5px;
}

.footer-phone a {
    position: relative;
    left: -3px;
    padding: 10px 12px 10px 44px;
}

/*      Нижняя часть футера       */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 136px;
}

.footer-bottom::before {
    content: "";
    position: relative;
    top: 23px;

    width: 80px;
    height: 7px;
    background-color: var(--accent-strong-color);
}

.footer-socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    top: 0px;
    left: -16px;

    list-style: none;
    width: 450px;
}

.footer-socials-list a {
    display: block;
    position: relative;

    width: 54px;
    height: 54px;
    margin-right: -2px;
    margin-bottom: -12px;

    border-radius: 50%;
    opacity: 0.3;

    transition: opacity 0.1s ease-out;
}

.footer-socials-list a:hover,
.footer-socials-list a:focus {
    opacity: 0.6;
}

.footer-socials-list a:active {
    opacity: 0.1;
}

.footer-socials-fb {
    background: url('../img/icon-fb.svg') no-repeat 11px 11px;
}

.footer-socials-instagram {
    background: url('../img/icon-instagram.svg') no-repeat 11px 11px;
}

.footer-socials-twitter {
    background: url('../img/icon-twitter.svg') no-repeat 11px 11px;
}

.logo-academy {
    position: relative;
    top: 2px;
    left: 11px;
    width: 49px;
    height: 49px;

    background: url(../img/logo-html.svg) no-repeat 11px 8px;
}
/*                                */
/*                                */
/*        Главная страница        */
/*                                */
/*                                */

.index-main {
    flex-grow: 1;
}

/*                                */
/*           Промо-блок           */
/*                                */

.promo-block {
    display: flex;
    position: relative;

    background: linear-gradient(to bottom, 
        var(--accent-light-color) 114px, 
        var(--bg-main-color) 114px);
}

.promo-block ul {
    list-style: none;
}

.promo-block::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 600px;

    width: 100px;
    height: 7px;
    background-color: var(--bg-main-color);
}

.promo-image-container {
    position: relative;
    top: -20px;

    height: 550px;
    width: 550px;
}

.promo-image-slide {
    visibility: hidden;
    opacity: 0;

    transform: translateX(-70px);
    transition: visibility 0s 0.3s, opacity 0s 0.3s;
} 

.promo-image-slide.current-slide {
    visibility: visible;

    opacity: 1;
    transform: translateX(0px);

    transition: visibility 0s 0.2s, 
                opacity 0.17s ease-out 0.3s,
                transform 0.17s ease-out 0.3s;
} 

.promo-image-slide > img {
    display: block;

    position: absolute;

    object-fit: cover;
}

.promo-longstick-img {
    top: 5px;
    left: 89px;
}

.promo-bracelet-img {
    top: 31px;
    left: 116px;
}

.promo-copter-img {
    top: 87px;
    left: 30px;
}

.promo-description-container {
    counter-reset: promo-li;
    position: relative;

    width: 610px;
    padding: 78px 50px 60px;

    overflow-x: hidden;
    outline: none;
}

.promo-description-slide {
    position: absolute;

    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0s 0.1s, opacity 0.5s 0s;
}

.promo-description-slide.current-slide {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.3s 0s;
}

.promo-description-slide::before {
    counter-increment: promo-li; 
    content: "0" counter(promo-li);
    position: absolute;
    top: -110px;
    left: 331px;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;

    color: var(--bg-main-color);

    transform: translateX(250px);
    transition: all 0.35s ease 0.2s;
}

.promo-description-slide.current-slide::before {
    transform: translateX(0px);
}

.promo-description-slide h3 {
    position: relative;

    margin-bottom: 26px;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    z-index: 1;

    transform: translateX(70px);
    opacity: 0.01;

    transition: all 0.3s ease-out 0.4s;
}

.promo-description-slide.current-slide h3 {
    transform: translateX(0px);
    opacity: 1;

    transition: all 0.2s ease-out 0.35s;
}

.promo-description-slide p {
    min-height: 64px;
    margin-bottom: 27px;

    line-height: 20px;

    transform: translateX(70px);
    opacity: 0.01;

    transition: all 0.2s ease-out 0.4s;
}

.promo-description-slide.current-slide p {
    transform: translateX(0px);
    opacity: 1;

    transition: all 0.2s ease-out 0.45s;
}

.promo-show-more {
    width: 220px;
    margin-bottom: 51px;

    transform: translateX(70px);
    opacity: 0.01;

    transition: all 0.2s ease-out 0.4s;
}

.promo-description-slide.current-slide .promo-show-more {
    transform: translateX(0px);
    opacity: 1;

    transition: all 0.2s ease-out 0.55s;
}

.promo-features-list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 62px;
    grid-row-gap: 22px;

    width: 100%;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.1em;

    transform: translateX(70px);
    opacity: 0.01;

    transition: all 0.17s ease-out 0.4s;
}

.promo-description-slide.current-slide .promo-features-list {
    transform: translateX(0px);
    opacity: 1;

    transition: all 0.17s ease-out 0.65s;
}

.promo-features-list > li {
    min-width: 75px;
    max-width: 300px;
}

.promo-features-list h4 {
    margin-bottom: 15px;

    font-size: 36px;
    font-weight: inherit;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.promo-pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 220px;
    max-height: 80px;
    padding: 10px;

    position: absolute;
    z-index: 2;
    top: 315px;
    right: 60px;

    color: var(--content-main-color);
    overflow: hidden;
}

.promo-pagination-list button {
    display: block;
    position: relative;

    width: 12px;
    height: 12px;
    margin-right: 18px;
    margin-bottom: 8px; 

    background-color: transparent;
    border: 1px solid var(--content-main-color);

    border-radius: 50%;
    cursor: pointer;
}

.promo-pagination-list button:focus {
    outline: none;
}

.promo-pagination-list button::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;

    width: 22px;
    height: 22px;
    border: 3px solid var(--bg-main-color);
    border-radius: 50%;

    transition: border-color 0.1s ease-out;
}

.promo-pagination-list button.focused-by-keyboard::before {
    border-color: var(--accent-transition-color);
}

.promo-pagination-list button.current-button {
    cursor: default;
}

.promo-pagination-list button.current-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;

    width: 6px;
    height: 6px;
    border: 1px solid var(--content-main-color);

    border-radius: 50%;
}

/*                                */
/*      Категории продуктов       */
/*                                */


.product-categories {
    padding-top: 40px; 
    padding-bottom: 40px; 
}


.product-categories > ul {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-gap: 40px;

    list-style: none;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.products-category-item {
    display: flex;
    flex-direction: column;

    width: 160px;
    height: min-content;
}

.products-category-item a:last-child {
    order: -1;

    position: relative;

    height: 160px;
    width: 160px;
    margin-bottom: 38px;

    background-color: var(--accent-light-color);
    outline: none;
    overflow: hidden; 
}

.products-category-item > a:last-child::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 75px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--accent-light-color);
    transition: transform 0.1s ease 0.3s, background-color 0.2s ease-out;
}

.products-category-item:hover > a:last-child::before,
.products-category-item:focus-within > a:last-child::before { 
    transform: scale(23);
    background-color: var(--accent-strong-color);

    transition: transform 0.15s ease-out, background-color 0.12s ease-out;
}

.products-category-item a:last-child::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    transition: opacity 0.04s ease-in;
}

.products-category-vr a:last-child::after {
    background: url(../img/popular-vr.svg) no-repeat 31px 52px;
}

.products-category-monopods a:last-child::after {
    background: url(../img/popular-monopods.svg) no-repeat 37px 26px;
}

.products-category-actioncams a:last-child::after {
    background: url(../img/popular-actioncams.svg) no-repeat 44px 36px;
}

.products-category-bracelets a:last-child::after {
    background: url(../img/popular-bracelets.svg) no-repeat 27px 48px;
}

.products-category-watches a:last-child::after {
    background: url(../img/popular-watches.svg) no-repeat 52px 31px;
}

.products-category-copters a:last-child::after {
    background: url(../img/popular-copters.svg) no-repeat 14px 46px;
}

.products-category-item a:last-child:active::after,
.products-category-item a:active + a:last-child::after {
    opacity: 0.3;
}

.products-category-bracelets {
    letter-spacing: 0;
}

/*                                */
/*        Секция "Сервисы"        */
/*                                */

.services {
    background: linear-gradient(to bottom, var(--bg-main-color) 144px,
                                           var(--bg-panels-main-color) 144px);
    padding-top: 44px;
    padding-bottom: 68px;
}

.services > .container {
    display: flex;
}

.services-button-list {
    min-height: 320px;
    width: 284px;
    padding-top: 60px;
    padding-bottom: 50px;
    border-right: 7px solid var(--content-main-color);

    list-style: none;
}

.services-button-list li {
    position: relative;

    width: 277px;
}

.services-button {
    width: 160px;
    height: min-content;
    padding-left: 8px;
    margin-top: 20px;
    margin-bottom: 21px;

    background: transparent;
    cursor: pointer;
}

.services-button[disabled],
.services-button:active  {
    color: var(--content-main-color);
}

.services-current-button,
.services-current-button[disabled] {
    color: var(--accent-light-color);

    transition: color 0.2s ease-in 0.07s;
}

.services-current-button::before {
    top: 0px;
    height: 100%;
    width: 277px;

    background-color: var(--content-main-color);

    transition: background-color 0.2s ease-out, width 0.2s ease-out 0.15s;
}

.services-info-list {
    position: relative;

    flex-grow: 1;

    list-style: none;
    transition: height 0.2s ease-in;
}

.services-info-item {
    visibility: hidden; 
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    padding-top: 71px;
    padding-left: 116px;

    opacity: 0;

    transition: opacity 0.25s, visibility 0s 0.4s;
}

.services-info-item.current-info-item {
    visibility: visible;

    opacity: 1;

    transition: opacity 0s 0.2s, visibility 0s 0.2s; 
}

.services-info-item h3 {
    margin-bottom: 40px;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.services-info-item p {
    width: 575px;

    font-weight: 300;
    font-size: 15px;
    line-height: 28px;

    letter-spacing: 0.1em;
}

.services-warranty-info p {
    line-height: 30px;
}

.services-info-item::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -20px;

    width: 300px;
    height: 100%;
}

.services-delivery-info::before {
    background: url(../img/services-delivery-bg.svg) no-repeat top 71px right 22px;
}

.services-warranty-info::before {
    background: url(../img/services-warranty-bg.svg) no-repeat top 53px right 4px;
}

.services-credit-info::before {
    background: url(../img/services-credit-bg.svg) no-repeat top 48px right 28px;
}


/*                                */
/*            Партнёры            */
/*                                */

.partners {
    padding-top: 90px;
    padding-bottom: 60px;
}

.partners-list {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    column-gap: 40px;

    list-style: none;
}

.partners-list a {
    opacity: 0.2;
    filter: grayscale(1);

    transition: all 0.1s ease-out;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
    filter: grayscale(0);

    outline: none;

    transition: all 0.15s ease-out;
}

/*                                */
/*      "О нас" и "Контакты"      */
/*                                */

.about-us-container {
    display: flex;
    justify-content: space-between;

    padding-bottom: 77px;
}

.about-us-container section {
    position: relative;

    width: 560px;
    padding-top: 79px;
}

.about-us-container section::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0px;

    width: 80px;
    height: 7px;
    background-color: var(--content-main-color);
}

.about-us-container h2 {
    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;

    margin-bottom: 40px;
}

.about-us-container p {
    margin-bottom: 40px;
}

.about-us p {
    width: 475px;
    margin-bottom: 40px;
}

.about-us ul {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 36px;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
}

.about-us li {
    position: relative;

    padding-left: 32px;
    margin-bottom: 14px;
}

.about-us li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;

    width: 8px;
    height: 8px;
    border: 2px solid var(--bg-panels-main-color);
    border-radius: 50%;
}

.contact-us-map {
    display: block;
    margin-bottom: 76px;

    transition: all 0.15s ease-out;
}

.contact-us-map img {
    display: block;
}

.contact-us-map:focus {
    outline: 4px solid var(--accent-light-color);
}

/*                                */
/*                                */
/*            Анимация            */
/*                                */
/*                                */


@keyframes flicker {
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}

@keyframes dissolve {
    0% {opacity: 1; animation-timing-function: ease-out;}
    20% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes dissolve-down {
    0% {
        opacity: 1; 
        transform:translateY(0px);
        animation-timing-function: ease-out;
    }
    20% {opacity: 0; transform:translateY(50px)}
    100% {opacity: 0; transform:translateY(50px)}
}

@keyframes appear-from-left {
    from {
        opacity: 0; 
        transform:translateX(-50px);
        animation-timing-function: ease-out;
    }
    20% {opacity: 1; transform:translateX(0px)}
    100% {opacity: 1; transform:translateX(0px)}
}