@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-main-color: #ffffff;
    --bg-panels-main-color: #e5e5e5;
    --bg-selection-color: rgba(0,0,0,0.10);
    --accent-light-color: #f7e296;
    --accent-strong-color: #f0c52e;

    --content-main-color: #000000;
    --content-inactive-color: #4c4c4c;

    --content-font-family: 'Open Sans';
    --heading-font-family: 'Gilroy';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;

    font-family: var(--content-font-family), 'Lucida Sans Unicode', Arial, sand-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;

    background-color: var(--bg-main-color);
}

a {
    color: var(--content-main-color);
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.transparent-on-hover {
    opacity: 1;
    transition: opacity 0.35s ease-out;
}

.transparent-on-hover:hover {
    transition: opacity 0.02s ease-out;
    opacity: 0.6;
}

.transparent-on-hover:active {
    transition: opacity 0.02s ease-out;
    opacity: 0.3;
}

.expanding-button {
    display: block;

    position: relative;

    height: 40px;
    line-height: 40px;

    background-color: var(--accent-strong-color);
}

.expanding-button > a {
    display: block;
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;

    text-align: center;
}

.expanding-button > a:focus {
    outline: none;
}

.expanding-button::before,
.expanding-button::after {
    content: "";
    position: absolute;
    left: 0;

    height: 16px;
    width: 100%;

    background-color: var(--bg-main-color);
    transition: height 0.15s ease-out;
}

.expanding-button::before {
    top: 0;
}

.expanding-button::after {
    bottom: 0;
}

.expanding-button:hover::before,
.expanding-button:hover::after,
.expanding-button:focus-within::before,
.expanding-button:focus-within::after  {
    height: 0px;
}

/*                                */
/*                                */
/*             Хэдер              */
/*                                */
/*                                */


/*                                */
/*      Верхняя часть хэдера      */
/*                                */

.main-header {
    display: flex;
    flex-direction: column;

    position: relative;

    min-height: 186px;
    padding-left: 40px;
    padding-right: 48px;
    padding-top: 28px;

    background-color: var(--accent-light-color);
    overflow: visible;
}

.main-header a:focus {
    outline: none;
    background-color: var(--bg-selection-color);
}

.header-logo {
    display: block;

    position: absolute;
    top: -20px;
    left: 60px;

    cursor: pointer;
}

.header-user-menu, 
.main-nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    min-height: 50px;

    list-style: none;
}

.main-nav > ul {
    flex-wrap: wrap-reverse;
}

.header-user-menu {
    flex-wrap: wrap;
    margin-right: 3px;
    margin-bottom: 22px;
}

.header-usermenu-item {
    display: block;

    padding: 5px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 40px;
} 

.header-basket-item {
    padding-left: 33px;
    margin-left: 22px;

    background: url(../img/icon-basket.svg) no-repeat 11px 14px;
}

.header-compare-item {
    padding-left: 32px;
    margin-left: 198px;

    background: url(../img/icon-compare.svg) no-repeat 6px 13px;
}

.header-login-item {
    padding-left: 31px;
    margin-left: 93px;

    background: url(../img/icon-user.svg) no-repeat 7px 13px;
}

.header-search-form {
    display: flex;
    align-items: flex-end;

    position: relative;

    background: url('../img/search.svg') no-repeat 1px 18px;
}

.header-search-input {
    width: 328px;
    padding: 10px;
    padding-bottom: 12px;
    padding-right: 30px;
    border: none;
    margin-left: 28px;

    background-color: inherit;
    font: inherit;
    opacity: 0.3;
}

.header-search-input:hover {
    opacity: 0.6;
}

.header-search-input:focus {
    opacity: 1;
    outline: none;
}

.header-search-submit {
    visibility: hidden;
    position: relative;

    height: 50px;
    width: 84px;

    border: none;

    background-color: inherit;

    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.header-search-form:focus-within .header-search-submit {
    visibility: visible;
}

.header-search-submit:hover,
.header-search-submit:focus {
    background-color: var(--content-main-color);
    color: var(--bg-main-color);
    outline: none;
}

.header-search-submit:active {
    color: var(--content-inactive-color);
}

/* Следующий блок относится к анимации фокуса на поле поиска */
/* Это разумнее было бы оформить с помощью svg, */
/* Но на момент работы над этим проектом я ещё не умел его анимировать =) */


/*                                */
/*      Анимация поля поиска      */
/*                                */


.header-search-form::before,
.header-search-form::after,
.header-search-form .header-search-submit::before,
.header-search-form .header-search-submit::after {
    content: "";
    position: absolute;

    background-color: var(--content-main-color);
}

.header-search-form::before {
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
}

.header-search-form:focus-within::before {
    width: 100%;
    transition: 0.25s;
}

.header-search-form::after {
    bottom: 0;
    right: 0;

    height: 0;
    width: 2px;
}

.header-search-form:focus-within::after {
    height: 100%;

    transition: 0.07s;
    transition-delay: 0.25s;
}

.header-search-form .header-search-submit::before {
    top: 0;
    right: 0;

    width: 0;
    height: 2px;
}

.header-search-form:focus-within .header-search-submit::before {
    width: 100%;

    transition: 0.07s;
    transition-delay: 0.32s;
}

.header-search-form .header-search-submit::after {
    top: 0;
    left: 0;

    width: 2px;
    height: 0;
}

.header-search-form:focus-within .header-search-submit::after {
    height: 100%;

    transition: 0.07s;
    transition-delay: 0.39s;
}

.header-search-form .flickering-animation {
    visibility: hidden;

}

.header-search-form:focus-within .flickering-animation {
    visibility: visible;

    animation: flicker 2s;
    animation-delay: 0.3s;

    transition-property: visibility;
    transition-delay: 0.3s;
}

/*                                */
/*      Нижняя часть хедера       */
/*                                */

.main-nav {
    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main-nav-item {
    display: block;

    padding: 7px 9px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 17px;
}

.main-nav-contacts {
    margin-left: 89px;
}

.main-nav-delivery {
    margin-left: 296px;
}

.main-nav-catalog {
    position: relative;

    padding-right: 43px;
    padding-bottom: 30px;

    letter-spacing: 0.1em;
    margin-left: 0;
    margin-bottom: 0;
}

.main-nav-catalog:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    height: 25px;
    width: 100%;
    background-color: var(--accent-light-color);
}

.main-nav-catalog:active {
    outline: none;
    opacity: 0.3;
}

.main-nav-catalog::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 9px; 

    height: 16px;
    width: 16px;

    background: url(../img/plus.svg) no-repeat 0 0;
    opacity: 0.3;
}

.main-nav-catalog:hover::after {
    opacity: 0.5;
}

.main-nav-catalog:active::after {
    opacity: 1;
}

.catalog-dropdown-container {
    display: flex;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;

    width: 100%;
    padding-right: 60px;

    background-color: var(--accent-light-color);

    transform: translateY(-28px);
}

.catalog-dropdown-menu {
    display: grid;

    grid-template-rows: repeat(3, min-content);
    justify-content: start;
    grid-auto-flow: column;
    column-gap: 45px;

    height: 0;

    min-width: 535px;
    padding-bottom: 0px;
    padding-left: 51px;

    font-family: var(--content-font-family), 'Lucida Sans Unicode', Arial, sand-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;

    list-style: none;
    overflow: hidden;

    transition-property: height, padding-bottom;
    transition-duration: 0.33s;
}

.main-nav-catalog:hover + .catalog-dropdown-container > .catalog-dropdown-menu,
.main-nav-catalog:focus + .catalog-dropdown-container > .catalog-dropdown-menu,
.catalog-dropdown-menu:hover,
.catalog-dropdown-menu:focus-within {
    height: 142px;
    padding-bottom: 38px;

    transition-property: height, padding-bottom;
    transition-duration: 0.4s;
}

.catalog-dropdown-menu li {
    max-width: 220px;
}

.catalog-dropdown-menu a {
    display: block;
    padding: 8px 9px;
}

.catalog-drop-copter {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

/*                                */
/*                                */
/*        Главная страница        */
/*                                */
/*                                */

.index-main {
    flex-grow: 1;
}

/*                                */
/*           Промо-блок           */
/*                                */

.promo-block {
    display: flex;
    position: relative;

    background: linear-gradient(to bottom, 
        var(--accent-light-color) 114px, 
        var(--bg-main-color) 114px);
}

.promo-block ul {
    list-style: none;
}

.promo-block::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 600px;

    width: 100px;
    height: 7px;
    background-color: var(--bg-main-color);
}

.promo-image-container {
    position: relative;
    top: -20px;

    height: 550px;
    width: 550px;
}

.promo-image-slide {
    visibility: hidden;

    opacity: 0;
    transform: translateX(-70px);
} 

.promo-image-slide.current-slide {
    visibility: visible;

    opacity: 1;
    transform: translateX(0px);

    transition: opacity 0.17s ease-out 0.6s, transform 0.17s ease-out 0.6s;
} 

.promo-image-slide.previous-slide {
    visibility: visible;

    opacity: 0;
    transform: translateY(70px);

    transition: opacity 0.17s ease-out, transform 0.17s ease-out;
} 

.promo-image-slide > img {
    display: block;

    position: absolute;

    object-fit: cover;
}

.promo-longstick-img {
    top: 5px;
    left: 89px;
}

.promo-bracelet-img {
    top: 31px;
    left: 116px;
}

.promo-copter-img {
    top: 87px;
    left: 30px;
}

.promo-description-container {
    position: relative;

    width: 610px;
    padding: 78px 50px 60px;
}

.promo-description-slide {
    position: absolute;

    width: 100%;

    visibility: hidden;

    transition: visibility 0s 0.5s;
}

.promo-description-slide.current-slide {
    visibility: visible;

    transition: visibility 0s;
}

.promo-description-slide:nth-of-type(1)::before {
    content: "01";
}

.promo-description-slide:nth-of-type(2)::before {
    content: "02";
}

.promo-description-slide:nth-of-type(3)::before {
    content: "03";
}

.promo-description-slide::before {
    position: absolute;
    top: -110px;
    left: 331px;

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;

    color: var(--bg-main-color);

    transform: translateX(250px);
}

.promo-description-slide.current-slide::before {
    transform: translateX(0px);

    transition: transform 0.35s ease 0.47s;
}

.promo-description-slide.previous-slide::before {
    transform: translateY(120px);

    transition: transform 0.3s ease 0s;
}

.promo-description-slide h3 {
    position: relative;

    margin-bottom: 26px;

    opacity: 0;
    transform: translateX(70px);

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    z-index: 1;
}

.promo-description-slide.current-slide h3 {
    opacity: 1;
    transform: translateX(0px);

    transition: all 0.3s ease-out 0.7s;
}

.promo-description-slide.previous-slide > * {
    opacity: 0;
    transform: translateY(70px);

    transition: opacity 0.17s ease-out 0s, transform 0.17s ease-out 0s;
}

.promo-description-slide p {
    min-height: 64px;
    margin-bottom: 27px;

    opacity: 0;
    transform: translateX(70px);

    line-height: 20px;
}

.promo-description-slide.current-slide p {
    opacity: 1;
    transform: translateX(0px);

    transition: all 0.2s ease-out 0.8s;
}

.promo-show-more {
    width: 220px;
    margin-bottom: 51px;

    opacity: 0;
    transform: translateX(70px);

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-weight: 800;
    font-size: 18px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.promo-description-slide.current-slide .promo-show-more {
    opacity: 1;
    transform: translateX(0px);

    transition: all 0.2s ease-out 0.9s;
}

.promo-features-list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 62px;
    grid-row-gap: 22px;

    width: 100%;

    opacity: 0;
    transform: translateX(70px);

    font-family: var(--heading-font-family), 'Arial Black', sand-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.promo-description-slide.current-slide .promo-features-list {
    opacity: 1;
    transform: translateX(0px);

    transition: all 0.17s ease-out 1s;
}

.promo-features-list > li {
    min-width: 75px;
    max-width: 300px;
}

.promo-features-list h4 {
    margin-bottom: 15px;

    font-size: 36px;
    font-weight: inherit;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.promo-pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 220px;
    max-height: 60px;

    position: absolute;
    top: 325px;
    right: 70px;

    color: var(--content-main-color);
    overflow: hidden;
}

.promo-pagination-list button {
    display: block;
    position: relative;

    width: 12px;
    height: 12px;
    margin-right: 18px;
    margin-bottom: 8px; 

    background-color: transparent;
    border: 1px solid var(--content-main-color);

    border-radius: 50%;
    cursor: pointer;
}

.promo-pagination-list button.current-button {
    cursor: default;
}

.promo-pagination-list button.current-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;

    width: 6px;
    height: 6px;
    border: 1px solid var(--content-main-color);

    border-radius: 50%;
}


/*                                */
/*                                */
/*            Анимация            */
/*                                */
/*                                */


@keyframes flicker {
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}